# Dependencies
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# Next.js build output
/.next/
/out/
/build
/dist

# Production & environment files
.env
.env*.local
.env.local
.env.development.local
.env.test.local
.env.production.local
!.env.example

# Debug and log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
.pnpm-debug.log*

# TypeScript
*.tsbuildinfo
tsconfig.tsbuildinfo

# Vercel
.vercel

# Operating System & Editor files
.DS_Store
Thumbs.db
*.swp
*.swo
*~
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
.idea/

# Project documentation & design assets
/Project_Document/
/project_document/
/Mockup/
/mockup/
/Implementation/
/implementation/
/logs

.env.production
